*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0a192f;
    width: 100%;
    padding: 10px;
}
.head img{
    width: 120px;
    margin-left: -10px;
}
.nav{
    display: flex;
    gap: 25px;
}
.menu {
    display: none;
  }
.nav a{
    text-decoration: none;
    color: white;
}
.log{
    background: none;
    color: white;
    border: none;
}
.scroll-text {
    font-size: 16px;
    text-align: center;
  }
.start{
    background: #2ecc71;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2ecc71;
    min-width: 150px;
    border-radius: 5px;
    z-index: 1000;
    flex-direction: column;
}
.dropdown-content a{
    padding: 0.7rem 1rem;
    color: white;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    color: #0a192f;
}
.dropdown:hover .dropdown-content{
    display: flex;
}
.btn{
    display: flex;
    gap: 10px;
}
.btn a{
    text-decoration: none;
}
.start:hover{
    color: #2ecc71;
    background-color: white;
}
.log:hover{
    color: #2ecc71;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 20px;
    text-align: center;
    background-color: #0a192f;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    color: white;
  }
 
   .button:hover {
    cursor: crosshair;
   }

 h1{
    font-size: 80px;
    color: #2ecc71;
    gap: none;
   }
   .para{
    font-size: 20px;
    color: white;
   }
   .input{
    display: flex;
    align-items: center;
    gap: 7px;
    
   }
   .input input{
    width: 250px;
    height: 40px;
    border-radius: 12px;
    padding: 10px;
    border: 1px black;
   }
   .input button{
    background: #2ecc71;
    color: white;
    border: none;
    height: 40px;
    width: 140px;
    border-radius: 5px;
   }
   .input a{
    text-decoration: none;
    color: #0a192f;
   }
   
   .input button:hover{
    background: white;
    color: #2ecc71;
    cursor: pointer;
   }
   .tick{
    width: 20px;
   }
   .credit p{
    color: white;
   }
   .credit{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
   }
   .section3{
    padding: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   }
   .section3 h5{
    font-size: 20px;
   }
   .logo img{
    width: 100px;
   }
   .logo{    
    display: flex;
    padding: 20px;
    gap: 30px;
}
.section3 h4{
    font-size: 35px;
    color: #2ecc71;
}
.section3 h6{
    font-size: 15px;
    padding: 10px;
    text-align: center;
    color: #0a192f;
}
.section4{
    display: flex;
    padding: 10px;
    gap: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{
    border:10px black;
    border-radius: 5px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black;
    padding: 10px;
}
.card:hover{
    color: #2ecc71;
    transform: scale(1.1); 
    background-color: #0a192f;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    z-index: 10; 
}
.card button{
    border: 1px #0a192f;
    border-radius: 3px;
    color: white;
    background-color: #2ecc71;
    width: 150px;
    height: 40px;
}
.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
}
.section5 h6{
    font-size: 20px;
    color: #0a192f;
}
.section5 h2{
    text-align: center;
    color: #0a192f;
    font-size: 50px;
}
.section5 p{
    text-align: center;
    color: #184a96;
}
.section5 h4{
    font-size: 25px;
    color: #0a192f;
    padding-top: 40px;
}
.values{
    display: flex;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.values button{
    width: 170px;
    height: 100px;
    border-radius: 5px;
    line-height: 25px;
    border-color: #2ecc71;
    text-align: center;
}
.values button:hover{
    background: #2ecc71;
    color: white;
}
.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2ecc71;
    width: 100%;
    height: 20vh;
}
.why p{
    font-size: 30px;
    color: white;
}
.teamimg{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.teamimg img{
    border-radius: 20px;
}
.down{
    background-color: #0a192f;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}
.down p{
    margin-top: -10px;
    padding-bottom: 10px;
}
footer img{
    width: 120px;
   
}
footer{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer p{
    color: #0a192f;
}

@media (max-width: 320px){
.nav {
      display: none;
    }
.btn {
      display: none;
    }
    .head {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      padding-left: 22px;
      padding-right: 18px;
      width: 320px;
    }
    .menu {
      display: block;
      font-size: 25px;
      color: white;
    }
    .section2 {
      display: flex;
      padding: 15px 10px;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 1px;
    }
   
    .button {
      margin: 5px;
      height: auto;
      background: transparent;
      padding-top: 55px;
      border: none;
      cursor: pointer;
      color: white;
    }
   
     .button:hover {
      cursor: crosshair;
     }
     h1{
      font-size: 25px;
      margin-top: 10px;
     }
     .para{
      font-size: 12px;
      margin-top: 10px;
     }
     .input{
      padding-top: 50px;
      display: flex;
      flex-direction: column;
     }
     .input input{
      width: 300px;
     }
     .tick{
      width: 12px;
      margin-right: -7px;
     }
     .credit p{
      font-size: 11px;
     }
    .section3 h5{
      font-size: 20px;
      margin-top: 15px;
     }
     .logo img{
      width: 100px;
     }
     .logo{
      display: flex;
      flex-direction: column;
     }
     .section3 h4{
      font-size: 25px;
      margin-top: 20px;
      text-align: center;
     }
     .section3 h6{
      font-size: 15px;
      margin-top: 10px;
     }
     .section4{
      display: flex;
      flex-direction: column;
     }
     .section5 h2{
      font-size: 30px;
      padding: 10px;
     }
     .section5 p{
      font-size: 18px;
      padding: 10px;
      color: #2ecc71;
     }
     .values{
      display: flex;
      flex-direction: column;
     }
     .why{
      height: 10vh;
      background-color: #0a192f;
     }
     .why p{
      font-size: 15px;
     }
     .section5 h4{
      text-align: center;
     }
     .down{
      text-align: center;
     }
     footer img{
      width: 80px;
     }
     footer p{
      font-size: 10px;
     }
    }

    
@media (max-width: 375px){
  .nav {
        display: none;
      }
  .btn {
        display: none;
      }
      .head {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        padding-left: 22px;
        padding-right: 18px;
        width: 375px;
      }
      .menu {
        display: block;
        font-size: 25px;
        color: white;
      }
      .section2 {
        display: flex;
        padding: 15px 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1px;
      }
     
      .button {
        margin: 5px;
        height: auto;
        background: transparent;
        padding-top: 55px;
        border: none;
        cursor: pointer;
        color: white;
      }
     
       .button:hover {
        cursor: crosshair;
       }
       h1{
        font-size: 25px;
        margin-top: 10px;
       }
       .para{
        font-size: 12px;
        margin-top: 10px;
       }
       .input{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
       }
       .input input{
        width: 300px;
       }
       .tick{
        width: 12px;
        margin-right: -7px;
       }
       .credit p{
        font-size: 11px;
       }
      .section3 h5{
        font-size: 20px;
        margin-top: 15px;
       }
       .logo img{
        width: 100px;
       }
       .logo{
        display: flex;
        flex-direction: column;
       }
       .section3 h4{
        font-size: 25px;
        margin-top: 20px;
        text-align: center;
       }
       .section3 h6{
        font-size: 15px;
        margin-top: 10px;
       }
       .section4{
        display: flex;
        flex-direction: column;
       }
       .section5 h2{
        font-size: 30px;
        padding: 10px;
       }
       .section5 p{
        font-size: 18px;
        padding: 10px;
        color: #2ecc71;
       }
       .values{
        display: flex;
        flex-direction: column;
       }
       .why{
        height: 10vh;
        background-color: #0a192f;
       }
       .why p{
        font-size: 15px;
       }
       .section5 h4{
        text-align: center;
       }
       .down{
        text-align: center;
       }
       footer img{
        width: 80px;
       }
       footer p{
        font-size: 10px;
       }
      }


      
@media (max-width: 425px){
  .nav {
        display: none;
      }
  .btn {
        display: none;
      }
      .head {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        padding-left: 22px;
        padding-right: 18px;
        width: 425px;
      }
      .menu {
        display: block;
        font-size: 25px;
        color: white;
      }
      .section2 {
        display: flex;
        padding: 15px 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1px;
      }
     
      .button {
        margin: 5px;
        height: auto;
        background: transparent;
        padding-top: 55px;
        border: none;
        cursor: pointer;
        color: white;
      }
     
       .button:hover {
        cursor: crosshair;
       }
       h1{
        font-size: 25px;
        margin-top: 10px;
       }
       .para{
        font-size: 12px;
        margin-top: 10px;
       }
       .input{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
       }
       .input input{
        width: 300px;
       }
       .tick{
        width: 12px;
        margin-right: -7px;
       }
       .credit p{
        font-size: 11px;
       }
      .section3 h5{
        font-size: 20px;
        margin-top: 15px;
       }
       .logo img{
        width: 100px;
       }
       .logo{
        display: flex;
        flex-direction: column;
       }
       .section3 h4{
        font-size: 25px;
        margin-top: 20px;
        text-align: center;
       }
       .section3 h6{
        font-size: 15px;
        margin-top: 10px;
       }
       .section4{
        display: flex;
        flex-direction: column;
       }
       .section5 h2{
        font-size: 30px;
        padding: 10px;
       }
       .section5 p{
        font-size: 18px;
        padding: 10px;
        color: #2ecc71;
       }
       .values{
        display: flex;
        flex-direction: column;
       }
       .why{
        height: 10vh;
        background-color: #0a192f;
       }
       .why p{
        font-size: 15px;
       }
       .section5 h4{
        text-align: center;
       }
       .down{
        text-align: center;
       }
       footer img{
        width: 80px;
       }
       footer p{
        font-size: 10px;
       }
      }